@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800&family=Rajdhani:wght@300;400&family=Teko:wght@300;400;500&display=swap');

/* menu */
div.logo {
    display: inline-block;
    margin-left: 30PX;
    margin-right: auto;
    /* border: 1px solid red; */

  }
  div.menu {
    display: inline-block;
    position: absolute;
    color: aliceblue;
  
    margin-left: 12%;
    /* border: 1px solid red; */
  
  }
  table.menu1 {
    margin-top: 40px;
  }
  th.menu2 {
    width: 500px;
    opacity: 0.8;
    transition: all 0.2s ease-in-out;
}
th:hover {
    opacity: 1;
  }
  button {
    color: #ffffff;
    background-color: #000000;
    border: 1px solid #9b9b9b;
    border-radius: 4px;
    padding: 0 15px;
    cursor: pointer;
    height:62px;
    width: 320px;
    font-size: 30px;
    letter-spacing: 12px;
    font-family: 'Teko', sans-serif;
    transition: all 0.2s ease-in-out;
    }
    button:hover {
    transform: scale(1.1);
    }
  
div.container {
    padding: 20px;
    display: flex; 
    width: auto;
    position: relative;
    border-bottom: 2px rgb(255, 255, 255) solid; 
    justify-content: space-between;
        
    }
div.bulk {
    flex-basis: 50%;
    height: 500px;
    width: auto;
      
    }
.dis {
    object-fit: contain;
    height: 500px; 
    }

div.wybrane {
    flex-basis: 50%;
    height: 500px;
    width: auto;
    }

/* koniecmenu */
body {
    background-color: #000000;
}
/* formularz */
fieldset{
    width: 60em
}
legend{
    color: white;
    margin: 0 auto;
}
label{
    color: white;
    background-color: #000000;
}
input{
    background-color: #000000;
    color: white;
}
select{
    background-color: #000000;
    color: white;
}

#result {
    color: white;
}
#protein{
    color: white;
}
#fat{
    color: white;
}
#carb{
    color: white;
}
/* koniecformularza */